body {
    font-family: Arial, Helvetica, sans-serif;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 12rem;
    height: 12rem;
    padding: 1rem;
}

span {
    width: 12rem;
    height: 12rem;
    border: 1px solid black;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    padding: 2rem;
}

input {
    margin: 50px 0 25px 6rem;
    padding: 1rem .5rem 1rem .5rem;
    font-size: 2rem;
    border: 1px solid black;
}